.board-list {
    text-align: left;
    margin: 0 5px;
    padding: 0;
    width: 280px;
    height: 100%;
    vertical-align: top;
    white-space: nowrap;
    display: inline-block;

    .list-wrapper {
        padding: 10px 0;
        background: @color_gray_light;
        margin: 0;
        max-height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .list-name {
            color: @color_black;
            font-size: 1rem;
            line-height: 1.3;
            font-weight: @font_bold;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            padding: 0 10px;

            .truncate-text(2);
        }

        .cards-list {
            min-height: 10px;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0 4px;
            margin: 10px 4px 0;
        }
    }
}