.btn-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    height: 15px;
    z-index: 999;
    margin: auto;

    .circle {
        position: absolute;
        top: 0;
        background-color: @color_white;
        width: 15px;
        height: 15px;
        animation-name: btn_loading;
        -o-animation-name: btn_loading;
        -ms-animation-name: btn_loading;
        -webkit-animation-name: btn_loading;
        -moz-animation-name: btn_loading;
        animation-duration: 1.5s;
        -o-animation-duration: 1.5s;
        -ms-animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-direction: normal;
        -o-animation-direction: normal;
        -ms-animation-direction: normal;
        -webkit-animation-direction: normal;
        -moz-animation-direction: normal;
        transform: scale(.3);
        -o-transform: scale(.3);
        -ms-transform: scale(.3);
        -webkit-transform: scale(.3);
        -moz-transform: scale(.3);
        border-radius: 38px;
        -o-border-radius: 38px;
        -ms-border-radius: 38px;
        -webkit-border-radius: 38px;
        -moz-border-radius: 38px;

        &.circle-1 {
            left: 0;
            animation-delay: 0.6s;
            -o-animation-delay: 0.6s;
            -ms-animation-delay: 0.6s;
            -webkit-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
        }

        &.circle-2 {
            left: 20px;
            animation-delay: 0.75s;
            -o-animation-delay: 0.75s;
            -ms-animation-delay: 0.75s;
            -webkit-animation-delay: 0.75s;
            -moz-animation-delay: 0.75s;
        }

        &.circle-3 {
            left: 40px;
            animation-delay: 0.9s;
            -o-animation-delay: 0.9s;
            -ms-animation-delay: 0.9s;
            -webkit-animation-delay: 0.9s;
            -moz-animation-delay: 0.9s;
        }

        &.circle-4 {
            left: 60px;
            animation-delay: 1.05s;
            -o-animation-delay: 1.05s;
            -ms-animation-delay: 1.05s;
            -webkit-animation-delay: 1.05s;
            -moz-animation-delay: 1.05s;
        }
    }
}

@keyframes btn_loading {
    0% {
        transform: scale(1);
        background-color: @color_white;
    }

    100% {
        transform: scale(.3);
        background-color: @color_white;
    }
}

@-o-keyframes btn_loading {
    0% {
        -o-transform: scale(1);
        background-color: @color_white;
    }

    100% {
        -o-transform: scale(.3);
        background-color: @color_white;
    }
}

@-ms-keyframes btn_loading {
    0% {
        -ms-transform: scale(1);
        background-color: @color_white;
    }

    100% {
        -ms-transform: scale(.3);
        background-color: @color_white;
    }
}

@-webkit-keyframes btn_loading {
    0% {
        -webkit-transform: scale(1);
        background-color: @color_white;
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: @color_white;
    }
}

@-moz-keyframes btn_loading {
    0% {
        -moz-transform: scale(1);
        background-color: @color_white;
    }

    100% {
        -moz-transform: scale(.3);
        background-color: @color_white;
    }
}