#login-to-trello {
    margin-top: 4rem;
    font-size: 2.4rem;
    padding: 0.7rem 2rem;
    line-height: 1.3;
    height: auto;
    background: @color_blue;

    &:hover {
        background: @color_blue_dark;
    }
}