.card-board {
    height: 10vh;
    min-height: 80px;
    text-align: left;
    padding: 10px;
    overflow: hidden;
    white-space: normal;
    background-repeat: no-repeat;
    background-size: cover;

    .board-name {
        color: @color_white;
        font-size: 1.3rem;
        line-height: 1.3;
        height: ~"calc(10vh - 20px)";
        display: block;
        z-index: 9;
        position: relative;
        font-weight: @font_bold;
        padding-right: 30px;

        .truncate-text(2);
    }

    .material-icons {
        color: @color_white;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.6rem;
        z-index: 999;
    }
}

.card-card {
    background: @color_white;
    width: 100%;
    padding: 10px;
    margin: 0 0 5px;
    white-space: normal;
    cursor: pointer;

    &.card-moving {
        opacity: .2;
    }
}

.card-modal {
    outline: none!important;

    .modal-content {
        padding: 15px;
    }

    .card-name {
        font-size: 1.5rem;
        line-height: 1.3;
        margin: 0 0 2rem;
        display: block;
        max-width: 100%;
        box-sizing: border-box;
    }

    .start-vote-trigger {
        display: none;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 75px;
    }

    .card-description {
        font-size: 1.5rem;
        line-height: 1.3;
        margin: 0 0 2rem;
    }
}

body {
    &.can-start-vote {
        .card-modal {
            .card-name {
                padding-right: 90px;
            }

            .start-vote-trigger {
                display: block;
            }
        }
    }
}
