footer {
    display: block;
    overflow: hidden;

    &.page-footer {
        margin-top: 0;
        padding-top: 0;

        .footer-copyright {
            font-weight: 400;
            color: @color_white;
            opacity: 1;
            margin: 0;
            padding: 0;
            height: 6vh;
            line-height: 6vh;

            .container {
                width: 100%;
                height: 100%;
                max-width: 100%;
            }

            a {
                font-weight: 600;
                color: @color_white;

                &:hover {
                    color: @color_gray_lighter;
                    text-decoration: underline;
                }
            }

            strong {
                font-weight: 600;
                color: @color_white;
            }
        }
    }

    .rwd({
        text-align: center;
    });
}