header {
    &.navbar-fixed {
        height: 7vh;

        nav {
            height: 7vh;
            line-height: 7vh;
            display: block;
            overflow: hidden;
        }
    }

    .brand-logo {
        font-size: 1.65rem;
    }
}