.page-wrapper {
    height: 87vh;
    display: block;
    overflow: auto;
}

.page-title {
    margin: 2rem 0 4rem;
    font-size: 3rem;
    padding: 0 1rem;
}

.page-center-height {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;

    .page-title {
        margin-top: 0;
    }
}