#poll-room {
    display: block;
    position: absolute;
    background: @color_white;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    z-index: 9999;
    padding: 1.5rem 2rem;

    h1 {
        margin: 0 0 3rem 0;
        font-size: 1.5rem;
        line-height: 33px;
    }

    .finish-voting {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        min-height: 33px;
        display: none;
    }

    .vote-heading {
        font-weight: @font_bold;
    }

    ul {
        li {
            &:first-of-type {
                .user {
                    font-weight: @font_bold;
                }
            }
        }
    }

    select {
        margin-bottom: 3rem;
        cursor: pointer;
    }
}

.poll-toogler {
    &:empty {
        display: none;
    }

    background: @color_blue_dark;
    color: @color_white;
    top: 20px;
    right: 0;
    position: absolute;
    padding: 7px 10px 7px 15px;
    text-align: right;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index: 9999;
}

.poll-room-overlay {
    display: block;
    background: rgba(0, 0, 0, 0.3);

    .fixed-overlay(999);
}

body {
    &.can-finish-vote {
        #poll-room {
            h1 {
                padding-right: 175px;
            }

            .finish-voting {
                display: block;
            }
        }
    }
}
