.cool-scrollbar {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);

    &::-webkit-scrollbar {
        height: 9px;
        width: 9px;
    }

    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment {
        background: transparent;
        display: none;
    }

    &::-webkit-scrollbar-track-piece {
        background: @color_scrollbar_bg;
    }

    &::-webkit-scrollbar-track-piece:vertical:start {
        border-radius: 5px 5px 0 0;
    }

    &::-webkit-scrollbar-track-piece:vertical:end {
        border-radius: 0 0 5px 5px;
    }

    &::-webkit-scrollbar-track-piece:horizontal:start {
        border-radius: 5px 0 0 5px;
    }

    &::-webkit-scrollbar-track-piece:horizontal:end {
        border-radius: 0 5px 5px 0;
    }

    &::-webkit-scrollbar-thumb:vertical,
    &::-webkit-scrollbar-thumb:horizontal {
        background: @color_scrollbar_bar;
        border-radius: 5px;
        display: block;
        height: 50px;
    }
}