.toast {
    padding: 0;
    min-height: 40px;

    div {
        padding: 10px 25px;
        background: @color_alert_blue;

        &.error {
            background: @color_alert_red;
        }

        &.success {
            background: @color_alert_green;
        }

        h1 {
            margin: 0 0 0.5rem;
            font-size: 2rem;
            line-height: 1.3;
            border-bottom: 1px solid #FFF;
            padding-bottom: .5rem;

            &:empty {
                display: none;
            }
        }

        span {
            margin: 0;
            font-size: 1.1rem;
            line-height: 1.3;
            font-weight: 300;
        }
    }
}