<div class="col s12 m6 l3 xl2">
    <div class="card-board card-panel has-overlay-link background-hover" data-bind="attr: { style: boardBackground(), title: attrTitle() }">
        <a class="overlay-link" data-bind="attr: { href: boardLink() }"></a>
        <span class="board-name" data-bind="text: title"></span>
        <i class="material-icons" title="Votação ativa" data-bind="visible: hasPoll">group</i>
    </div>
</div>
