<div class="card-card card-panel" data-bind="attr: { id: id() }, click: openModal">
    <span class="card-name" data-bind="text: title"></span>
</div>

<div class="card-modal modal" data-bind="attr: { id: modalId() }">
    <div class="modal-content">
        <span class="start-vote-trigger modal-close btn-small blue darken-4" data-bind="text: startVoteText(), attr: { 'data-card': id() }"></span>
        <input class="card-name editable-card-name" data-bind="value: title, attr: { 'data-card': id() }"/>
        <div class="card-desc" data-bind="html: formatedDescription()"></div>
    </div>
</div>