<div class="board-list" data-bind="attr: { id: listId() }">
    <div class="card-panel list-wrapper">
        <span class="list-name" data-bind="text: title"></span>
        <div class="cards-list cool-scrollbar" data-bind="sortable: { data: cards, sortableOptions: sortableOptions() }">
            <!-- ko component: { name: 'board_card', params: $data } --><!-- /ko -->
        </div>
    </div>
</div>