<div id="loader" data-bind="fadeVisible: isLoading">
    <div class="loader-animation">
        <div class="circle circle-1">
            <span></span>
        </div>
        <div class="circle circle-2">
            <span></span>
        </div>
        <div class="circle circle-3">
            <span></span>
        </div>
        <div class="circle circle-4">
            <span></span>
        </div>
        <div class="circle circle-5">
            <span></span>
        </div>
    </div>
</div>