<a href="#" class="poll-toogler" data-bind="click: tooglePoll, text: toogleText(), visible: poll"></a>
<div class="poll-room-overlay" data-bind="fadeVisible: pollIsOpen, click: tooglePoll"></div>

<div id="poll-room" data-bind="animate: pollIsOpen, animation: slidePoll">
    <span class="finish-voting btn-small red darken-4" data-bind="text: translate('Encerrar votação'), click: finishVoting"></span>
    <h1 data-bind="text: votingText"></h1>
    <div data-bind="visible: voting">
        <p class="vote-heading" data-bind="text: translate('Seu voto')"></p>
        <select class="browser-default" data-bind="options: pokerOptions(), value: currentVote, event: { change: updateVote }"></select>
        <!-- ko if: votes().length -->
            <p class="vote-heading" data-bind="text: translate('Votos:')"></p>
            <ul class="votes" data-bind="foreach: votes">
                <li>
                    <span class="user" data-bind="text: user"></span>: <span class="vote" data-bind="text: vote"></span>
                </li>
            </ul>
        <!-- /ko -->
    </div>
</div>