body {
    display: block;
    height: 100vh;
    overflow: hidden;
}

.overlay-link {
    display: none;
}

.has-overlay-link {
    position: relative;

    .overlay-link {
        background: none;
        cursor: pointer;
        display: block;

        .full-overlay(99);
    }
}

.background-hover:hover:after {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.1);

    .full-overlay(1);
}

.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-color: @color_blue;
    box-shadow: 0 1px 0 0 @color_blue;
}