.truncate-text(@lines) {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: @lines;
    -webkit-box-orient: vertical;
}

.full-overlay(@z_index) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: @z_index;
}

.fixed-overlay(@z_index) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: @z_index;
}

/**
 * Create RWD layout
 * Just add rules as first param and the column preffix if it's other than mobile 's'
 */
.rwd (@rules, @size: 's') {
    & when (@size = 's') {
        @media (max-width: 600px) {
            @rules();
        }
    }

    & when (@size = 'm') {
        @media (max-width: 992px) {
            @rules();
        }
    }

    & when (@size = 'l') {
        @media (max-width: 1200px) {
            @rules();
        }
    }
}