// Colors

@color_white: #FFFFFF;
@color_gray_lighter: #F8F8F8;
@color_gray_light: #E2E4E6;
@color_gray: #C6C6C6;
@color_black: #000000;

@color_blue: #0D47A1;
@color_blue_dark: #032D6D;

@color_red_dark: #B71C1C;

@color_alert_blue: #039BE5;
@color_alert_red: #E64A19;
@color_alert_green: #43A047;

@color_scrollbar_bg: rgba(214, 218, 220, .15);
@color_scrollbar_bar: rgba(214, 218, 220, .5);

@color_scrollbar_bg_on_gray: rgba(198, 198, 198, 0.25);
@color_scrollbar_bar_on_gray: rgba(198, 198, 198, 0.65);

@color_loader_background: rgba(255, 255, 255, 0.8);

@color_default_board: #0079BF;

// Fonts

@font_bold: bold;