#board {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .board-background {
        position: absolute;
        background-color: @color_default_board;
        background-size: cover;
        background-position: center;

        .full-overlay(-1);
    }

    .page-title {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        margin: 1rem 0;
        font-size: 2rem;

        h1 {
            margin: 0;
            font-size: 2rem;
            display: inline-block;
            vertical-align: middle;
        }

        i {
            color: @color_white;
            display: inline-block;
            margin-left: 10px;
            vertical-align: middle;
            font-size: 1.7rem;
        }

        span {
            color: @color_white;
            display: inline-block;
            vertical-align: middle;
            font-size: 1rem;
        }

        a {
            display: inline-block;
            vertical-align: middle;
            font-size: 0.8rem;
            padding: 0 1rem;
            height: 30px;
            line-height: 30px;
            margin-left: 10px;

            &.disabled {
                background: @color_blue!important;
                color: @color_blue!important;
            }

            &.disabled.red {
                background: @color_red_dark!important;
                color: @color_red_dark!important;
            }
        }
    }

    .page-content {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

#lists {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 0 1rem;
    padding: 0 1rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .board-list:first-of-type {
        margin-left: 0;
    }

    .board-list:last-of-type {
        margin-right: 0;
    }

    &::-webkit-scrollbar {
        height: 13px;
        width: 13px;
    }

    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment {
        background: transparent;
        display: block;
        width: 1rem;
    }

    .cards-list {
        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
        }

        &::-webkit-scrollbar-track-piece {
            background: @color_scrollbar_bg_on_gray;
        }

        &::-webkit-scrollbar-thumb:vertical,
        &::-webkit-scrollbar-thumb:horizontal {
            background: @color_scrollbar_bar_on_gray;
        }
    }
}